{% extends "__base.html" %}

{% block meta_tags %}
{% if job.is_running %}
<meta http-equiv="refresh" content="1">
{% endif %}
{% endblock %}

{% block content %}

<h1>{{ job.name }}</h1>

<dl>
  <dt>Actions</dt>
  <dd>
    {% include '_job_actions.html' %}
  </dd>

  <dt>Status</dt>
  <dd>
    <span class="badge badge-pill {{job.badge_class}}">{{ job.status }}</span>
  </dd>

  <dt>Duration</dt>
  <dd>{{job.started}}</dd>

  <dt>Created</dt>
  <dd>{{job.created_at}}</dd>

  <dt>Updated</dd>
  <dd>{{job.updated_at}}</dd>

  <dt>Log</dt>
  <dd><textarea readonly="true" rows="15" cols="120">{{ job.logs }}</textarea></dd>
  </dt>

  {% endblock %}
