{% extends "__base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<section class="hero">
    <div class="hero-body">
        <h1 class="title">About</h1>
        <dl>
            <dt>Commit</dt>
            <dd><a href="{{git.repository.commits}}/{{git.commit}}" target="_blank">{{ git.commit }}</a></dd>
        </dl>
        <dl>
            <dt>Code Coverage</dt>
            <dd><a href="{{ url_for('static', filename='htmlcov/index.html') }}" target="_blank">Python</a></dd>
        </dl>
    </div>
</section>

{% endblock %}
