{% extends "jobs/__base.html" %}
{% load humanize %}
{% load humanize_extras %}

{% block meta_tags %}
{% if job.is_running %}
<meta http-equiv="refresh" content="1">
{% endif %}
{% endblock %}

{% block content %}

<h1>{{ job.name }}</h1>

<dl>
  <dt>Actions</dt>
  <dd>
    {% include 'jobs/_job_actions.html' %}
  </dd>

  <dt>Status</dt>
  <dd>
    <span class="badge badge-pill {{job.badge_class}}">{{ job.status }}</span>
  </dd>

  <dt>Duration</dt>
  <dd><abbr title="{{job.duration}}">{{ job.duration|naturaldelta }}</abbr></dd>

  <dt>Created</dt>
  <dd><abbr title="{{job.created_at}}">{{ job.created_at|naturaltime }}</abbr></dd>

  <dt>Updated</dd>
  <dd><abbr title="{{job.updated_at}}">{{ job.updated_at|naturaltime }}</abbr></dd>

  <dt>Log</dt>
  <dd><textarea readonly="true" rows="15" cols="120">{{ job.logs }}</textarea></dd>
  </dt>

  {% endblock %}
