APScheduler==3.6.3
certifi==2024.7.4
chardet==3.0.4
decorator==4.4.1
Django==4.2.26
django-bootstrap4==1.0.1
django-fontawesome-5==1.0.16
django-humanize==0.1.2
djangorestframework==3.15.2
#--------------
# breaks on alpine, workaround is to downgrade gunicorn to <20 or add libc, cf. 
# - https://stackoverflow.com/questions/58786695/how-to-address-oserror-libc-not-found-raised-on-gunicorn-exec-of-flask-app-in
#gunicorn==20.0.0
gunicorn==23.0.0
#--------------
humanize==0.5.1
idna==3.7
inflection==0.3.1
Jinja2==3.1.6
logstash-formatter==0.5.17
Markdown==3.1.1
MarkupSafe==1.1.1
pytz==2019.3
PyYAML==5.4
tzlocal==2.0.0
whitenoise==4.1.4
